%h1 The Gallery
Welcome to the Jeet Grid sandbox of
%b Logan Graba
.gallery
	= image_tag "http://lorempixel.com/400/400/"
	= image_tag "http://lorempixel.com/400/400/"
	= image_tag "http://lorempixel.com/400/400/"
	= image_tag "http://lorempixel.com/400/400/"
	= image_tag "http://lorempixel.com/400/400/"